<%= "Welcome #{current_player.email}" %>

<%= link_to "DECKS", "#{current_player.id}/decks" %>
<%= link_to "COLLECTION", "#{current_player.id}/collection" %>
<%= link_to "BATTLE", "#{current_player.id}/battle" %>


<h4 id="header-links" class="col-md"><%= link_to "Logout", destroy_player_session_path, method: :delete, class:"link-design" %></h4>


<%require 'aws-sdk-s3'  # v2: require 'aws-sdk'%>

<%region = 'sa-east-1'
s3 = Aws::S3::Resource.new(region: region)
obj = s3.bucket('cards-images')%>

<% obj.objects.each do |img|  %>
    <% img.etag%>

  <%end%>
